
$font-stack: 'Roboto', sans-serif;
$border-bottom-input: 1px solid rgba(69, 20, 0, .2);
$lightest-brown: rgba(247, 242, 238, 1);
$light-brown: #786259;
$dark-brown: #451400;
$darkest-brown: #1b0800;
$poblano-green: #405749;
$gray: #d4cbc7;
$font-nunito: 'Nunito', sans-serif;

@mixin input-field {
  border: 0;
  background-color: rgba(247, 242, 238, 1);
  border-bottom: $border-bottom-input;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: $font-nunito;
  margin-bottom: 15px;
}


/* modal */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(247, 242, 238, 1);
  z-index: 10;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
}

.modal-display-container {
  position: relative;
  text-align: center;
}

.modal-logo-img {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  
}

.poblano-logo-simple {
  height: 125px;
  margin: 0 auto;
}

span.modal-close-button {
  position: absolute;
  top: 10px;
  right: 45px;
  color: #614436;
  font-size: 45px;
  cursor: pointer;
  font-family: $font-nunito;
  font-weight: 300;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

body.modal-close {
  display: unset;
}

.modal-child {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}

.gradient-banner {
  width: 100%;
  opacity: 50%;
  height: 150px;
}

 .heading-not-member {
   font-family: $font-stack;
   color: rgb(60, 29, 0);
   text-align: center;
   font-size: 32px;
   font-weight: 500;
   width: 100%;
   letter-spacing: -1px;
   display: block;
 }

 .heading-signup {
   margin-top: 100px;
   font-family: $font-stack;
   color: rgb(60, 29, 0);
   text-align: center;
   font-size: 32px;
   font-weight: 500;
   width: 100%;
   letter-spacing: -1px;
   display: block;
   margin-bottom: 40px;
 }

 .signup-message {
  font-family: $font-nunito;
  width: 300px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  color: $light-brown;
  font-size: 16px;
  margin-bottom: 10px;
}

 .subheading {
  font-family: $font-stack;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  color: $light-brown;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
  letter-spacing: -1px;
 }

 .shown.country {
   font-size: 14px;
 }

 .radio-button-labels {
   font-family: $font-nunito;
   font-size: 14px;
   color: $light-brown;
 }
 
 .radio-buttons {
   margin-top: 5px;
   display: flex;
   justify-content: space-around;
   margin-bottom: 30px;
 }

 .radio input[type="radio"] {
   display: none;
 }

 .radio span {
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: #90a035;
   cursor: pointer;
 }

//  .radio-button {
//    background-color: #90a035;
//    border-radius: 50%;
//    cursor: pointer;
//  }

/* header  */

.header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 5;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}

 .header-left-container {
    display: flex;
    font-family: $font-stack;
    justify-content: space-evenly;
    align-items: center;
 }

 .header-left-container-sign-in {
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
    padding: 10px;
}

.header-left-container-sign-in:hover {
    cursor: pointer;
}

.sign-in-header {
  text-transform: uppercase;
  font-size: 14px;
  color: #786259;
  font-weight: 500;
}

.person-outline-img {
    height: 48px;
}

.poblano-logo-img {
    height: 80px;
    padding: 10px;
}

.poblano-logo-img:hover {
    cursor: pointer;
}

/* sign in form */

.heading-signin {
  font-family: $font-stack;
  color: rgb(60, 29, 0);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  letter-spacing: -1px;
  display: block;
  margin-bottom: 40px;
}

.signInForm {
  display: flex;
  flex-direction: column;
}

.signin-button {
  border: 1px solid #451400;
  background-color: #451400;
  color: white;
  font-family: $font-stack;
  width: 100%;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.signup-button {
  border: 1px solid #451400;
  background-color: #451400;
  color: white;
  font-family: $font-stack;
  width: 100%;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 32px;
  cursor: pointer;
}

.signup-instead-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.already-member {
  color: $dark-brown;
  font-size: 18px;
  font-family: $font-stack;
  font-weight: 500;
}

.goto-signin-button {
  position: relative;
  font-size: 18px;
  color: #b68207;
  text-decoration: underline;
  font-family: $font-stack;
  font-weight: 500;
  cursor: pointer;
}

.goto-signup-button {
  border: 1px solid #451400;
  background-color: $lightest-brown;
  color: #451400;
  font-family: $font-stack;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.session-form-separator {
  border-bottom: 1px solid #d4cbc7;
  padding: 10px;
  width: 100%;
  margin-bottom: 35px;
}

.error-message {
  text-align: center;
  color: red;
  font-family: $font-nunito;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 10px;
}
/* nav bar */

.ul-list-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 2px;
  left: 170px;
}

.ul-list-nav > li {
  margin: 10px;
}

.nav-bar-item {
    font-family: $font-stack;
    color: #451400;
    border-bottom-style: none;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 200;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}

.sign-out-button {
  position: relative;
  left: 45%;
  font-family: $font-nunito;
  text-decoration: underline;
  margin: 0 auto;
  font-size: 12px;
}

.sign-out-button:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-item {
  border-bottom: none;
}

.nav-bar-item-clicked {
  text-decoration: underline;
  text-decoration-color: $poblano-green;
  color: $poblano-green;
}

.hamburger {
  width: 40px;
  height: 45px;
  display: none;
  background-size: cover;
}


// @media (max-width: 1199px) {
//   .hamburger {
//     display: block;
//     cursor: pointer;
//   }

//   .nav-bar {
//     text-align: center;
//     width: 100%;
//     display: none;
//   }

// }

/* find poblano button */

.find-poblano-no-location {
  display: flex;
  background-color: #451400;
  color: white;
  align-items: center;
  position: relative;
  top: 10px;
  left: 140px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  min-width: 200px;
  min-height: 40px;
  background: linear-gradient(to right,black 50%, #451400 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.find-poblano-no-location:hover {
  cursor: pointer;
  background: linear-gradient(to left, #451400 50%, black 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all 300ms ease;
}

.tiny-logo {
  position: relative;
  left: 4px;
  height: 30px;
  width: 30px;
}

.separator {
  font-size: 25px;
  margin: 5px;
  font-family: $font-stack;
  font-weight: 100;
}

.find-poblano-text {
  font-family: $font-stack;
  font-weight: 300;
  // align-self: center;
  font-size: 13px;
  position: relative;
  left: 6px;
  letter-spacing: 2px;
}

.header-right-container {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
}

.bag-icon {
  height: 55px;
  width: 55px;
  position: relative;
  top: 5px;
  right: 30px;
}

.bag-icon:hover {
  cursor: pointer;
}



/* Guac Banner */

.guac-banner {
  position: relative;
  top: 100px;
  min-width: 1024px;
  background-size: cover;
  text-align: center;
  color: white;
}

.guac-img {
  min-width: 1024px;
  min-height: 520px;
  width: 100%;
  height: 100%;
  background-color: color;
}

.guac-pre-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 50px;
  font-weight: 700;
}

.guac-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 65px;
  width: 460px;
  font-weight: 700;
}


/* main advertisement container */

.main-advertisement-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0%;
  border-top: 1px solid #d4cbc7;
  border-bottom: 1px solid #d4cbc7;
  min-height: 75px;
}

.main-advertisement-container > h2 {
  font-family: $font-stack;
  color: $dark-brown;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 10px;
  width: 405px;
  text-align: left;
}

.main-poblano-simple-logo {
  height: 75px;
}

.main-create {
  color: $dark-brown;
  border: 1px solid black;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
  position: relative;
  top: 25px;
  left: 10px;
}

.main-create:hover {
  cursor: pointer;
}

.main-or{
  color: $dark-brown;
  font-family: $font-nunito;
  position: relative;
  top: 25px;
  left: 20px;
  margin: 0 2px 0 2px;
}

.main-signin {
  color: $dark-brown;
  position: relative;
  top: 25px;
  left: 30px;
  font-size: 18px;
  color: #b68207;
  text-decoration: underline;
  font-family: $font-stack;
  font-weight: 500;
}

.main-signin:hover {
  cursor: pointer;
}

/* input fields for sign up container onBlur and onFocus */

::placeholder {
  font-size: 15px;
}
//refactor the below selectors to one, similar to placeholders

.input {
   @include input-field;
 }

.input-First.Name-required, 
.input-First.Name-required-focused,
.input-Last.Name-required,
.input-Last.Name-required-focused,
.input-Email-required,
.input-Email-required-focused,
.input-Password-required,
.input-Password-required-focused,
.input-Phone.Number-required,
.input-Phone.Number-required-focused {
  @include input-field;
}


input[class="input-Phone Number-required"]::placeholder, 
input[class="input-Phone Number-required-focused"]::placeholder,
input[class="input-First Name-required"]::placeholder,
input[class="input-First Name-required-focused"]::placeholder,
input[class="input-Last Name-required"]::placeholder,
input[class="input-Last Name-required-focused"]::placeholder,
input[class="input-Email-required"]::placeholder,
input[class="input-Email-required-focused"]::placeholder,
input[class="input-Password-required"]::placeholder,
input[class="input-Password-required-focused"]::placeholder {
  color: red;
}

/* toggle input field names */

.hidden {
  display: none;
}

.shown.email, .shown.password, .shown.phoneNumber {
  color: red;
}

.shown.signin.email, .shown.signin.password {
  color: black;
}

.shown {
  display: block;
  font-size: 11px;
  font-family: $font-nunito;
  color: $light-brown;
}

/* nutrition page */

.nutrition-calculator-container {
  position: relative;
  top: 100px;
  z-index: 4;
  overflow: hidden;
  height: 100%;
}

.nutrition-header {
  max-width: 1140px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.nutrition-header-title {
  font-size: 32px;
  font-family: $font-stack;
  color: $dark-brown;
  font-weight: 500;
  margin: 20px 0 20px 0;
  letter-spacing: -1px;
}

.nutrition-header-description {
  font-size: 16px;
  font-family: $font-nunito;
  color: $light-brown;
  max-width: 840px;
}

.nutrition-entrees-container {
  max-width: 1140px;
  z-index: 20;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  border-top: 1px solid $gray;
  justify-content: center;
}

/* meals page */

.meals-page-title {
  font-size: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  margin-bottom: 22px;
  font-weight: 500;
}

.meal-name {
  text-align: center;
  margin: 10px, 0px, 10px, 0px;
  font-size: 28px;
  font-weight: 500;
  font-family: $font-stack;
  color: $dark-brown;
  letter-spacing: -1px;
}

.meal-name-hovered {
  text-align: center;
  margin: 10px, 0px, 10px, 0px;
  font-size: 28px;
  font-weight: 500;
  font-family: $font-stack;
  color: $dark-brown;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: $dark-brown;
  cursor: pointer;
}

// .meal-name:hover {
//   text-decoration: underline;
//   text-decoration-color: $dark-brown;
//   text-decoration-style: bold;
//   cursor: pointer;
// }

/* Nutrition Items (Entree Pic Gallery) */

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 35px;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery > .gallery-item > .gallery-img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

/* footer */

.footer-container {
  background-color: $darkest-brown;
  display: flex;
  width: 100%;
  height: 415px;
  position: absolute;
  align-items: center;
}

//fix this to make it not hard coded later
.connect-container {
  position: relative;
  top: 40px;
  left: 400%;
}

.connect-icons {
  display: flex;
  justify-content: space-evenly;
}

.connect-icons > img {
  margin: 5px;
}

.copyright-message {
  color: white;
  font-size: 12px;
  float: bottom;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 10px;
  bottom: 0;
  padding: 15px;
}

.connect-icons-title {
  color: #d4cbc7;
  font-size: 16px;
  font-family: $font-stack;
  margin: 10px;
}

.linkedin-icon:hover {
  cursor: pointer;
}

.github-icon:hover {
  cursor: pointer;
}

/* show (ingredients page) */



.ingredient-img {
  width: 180px;
  height: 230px;
  border: 1px solid $gray;
  object-fit: fill;
  margin-bottom: 30px;
}

.section-name {
  font-size: 30px;
  max-height: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 10px;
}

.start-over {
  cursor: pointer;
  color: #b68207;
  font-family: $font-nunito;
  position: relative;
  padding-top: 2px;
  top: 25px;
  left: 20px;
}

.start-over:hover {
  color: #815d08;
  text-decoration: underline;
  font-weight: 700;
}

.meal-name-show-page {
  font-size: 30px;
  max-height: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
  top: 25px;
  left: 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.show-page-header {
  display: flex;
  justify-content: left;
  position: relative;
  top: 0%;
  border-bottom: 1px solid #d4cbc7;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
}



// .fillings {
//   display: flex;
//   flex-wrap: wrap;
// }

.section.fillings {
  max-width: 750px;
}

.section-container {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 35px;
}

// .show-page-container {
//   display: inline-block;
//   height: 100%;
// }

.ingredients-container {
  display: flex;
}

.ingredient-name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: $dark-brown;
  letter-spacing: -1px;
  font-weight: 500;
  font-family: $font-stack;
  width: 180px;
}

.recharts-wrapper {
 
}

.figure {
  position: relative;
  text-align: center;
  color: $dark-brown;
  margin-left: 15px;
  margin-right: 15px;
}

.figure:hover {
  cursor: pointer;
}


.ingredient-img-clicked {
  filter: brightness(50%);
  width: 180px;
  height: 230px;
  border: 1px solid yellow;
  object-fit: fill;
  margin-bottom: 30px;
}

.ingredient-img:hover {
  filter: brightness(50%);
}

.text {
  color: $dark-brown;
  font-weight: 500;
  font-family: $font-stack;
  font-size: 16px;
}

.chart-and-legend {
  display: flex;
  flex-direction: column;
  background-color: #f7f2ee;
  max-width: 350px;
  max-height: 490px;
  position: absolute;
  top: 500px;
}

@media (min-height: 400px) {
  .chart-and-legend {
    display: flex;
    position: fixed;
    top: 180px;
    left: 800px;
  }

}
.pie-chart {
  position: relative;
  left: 40px;
}

.legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
}

.legend > div {
  align-content: left;
}

.legend-meal-name {
  position: absolute;
  top: 25px;
  left: 110px;
  font-family: $font-nunito;
  color: $dark-brown;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.calories-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}

.total-fat-container {
  display: flex;
  justify-content: space-between;
}

.protein-container {
  display: flex;
  justify-content: space-between;
}

.carbs-container {
  display: flex;
  justify-content: space-between;
}

.legend-titles.fat {
  color: #c3b5a6;
  font-family: $font-nunito;
  font-weight: 500;
  font-size: 16px;
  align-self: left;
  padding: 10px;
}

.legend-titles.protein {
  color: #b68109;
  font-family: $font-nunito;
  font-weight: 500;
  font-size: 16px;
  align-self: left;
  padding: 10px;
}

.legend-titles.carbs {
  color: #776259;
  font-family: $font-nunito;
  font-weight: 500;
  font-size: 16px;
  align-self: left;
  padding: 10px;
}

.legend-titles.calories {
  color: $dark-brown;
  font-family: $font-nunito;
  font-weight: 700;
  font-size: 18px;
  align-self: left;
  padding: 10px;
}

.legend-values {
  padding: 10px;
  color: $dark-brown;
  font-family: $font-nunito;
  font-weight: 700;
  font-size: 15px;
}

// .recharts-surface {
//   max-height: 500px;
//   max-width: 500px
// }

/* rewards advertisement page */

.progress-bar {
  position: relative;
  height: 30px;
  width: 465px;
  border-radius: 50px;
  border: 1px solid $gray;
}

.filler {
  background: #ad2118;
  height: 100%;
  transition: width .2s ease-in;
  border-radius: inherit;
}

.falling-burritos-banner {
  position: relative;
  top: 100px;
  min-width: 1024px;
  background-size: cover;
  text-align: center;
  color: white;
}

.falling-burritos-img {
  min-width: 1024px;
  min-height: 520px;
  width: 100%;
  height: 100%;
  background-color: color;
  position: relative;
}

.rewards-pre-title {
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 50px;
  font-weight: 700;
  color: $dark-brown;
}

.rewards-titles {
  margin: 0 auto;
  position: relative;
  top: 100px;
  text-align: left;
  width: 460px;
}

.falling-burritos-message {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  width: 900px;
}

.rewards-img {
  width: 400px;
  height: 400px;
}

.rewards-title {
  position: absolute;
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 65px;
  width: 470px;
  font-weight: 700;
  color: $dark-brown;
}

.rewards-titles span {
  font-family: $font-nunito;
  text-transform: uppercase;
  color: $dark-brown;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  top: 150px;
}

/* user's profile */

.profile-container {
  margin: 0 auto;
}

.profile-modal-greeting-container {
  position: fixed;
  top: 10px;
  left: 45px;
  color: #614436;
  font-size: 20px;
  font-family: $font-nunito;
  font-weight: 300;
}

.profile-greeting {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  font-family: $font-nunito;
  margin-top: 20px;
}

.points-message {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-nunito;
  min-width: 430px;
}


.points {
  margin: 0 auto;
  font-size: 88px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-stack;
  min-width: 430px;
}

.progress-container {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  justify-items: center;
}

.reward-background {
  position: relative;
  min-width: 1440px;
  min-height: 577px;
  background: rgba(247, 242, 238, 1);
  display: flex;
  flex-direction: column
}

.reward-container {
  position: absolute;
  top: 50%;
  left: 520px;
  text-align: center;
}

.points-message-rewards {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-nunito;
  min-width: 430px;
}