
$font-stack: 'Roboto', sans-serif;
$border-bottom-input: 1px solid rgba(69, 20, 0, .2);
$lightest-brown: rgba(247, 242, 238, 1);
$light-brown: #786259;
$dark-brown: #451400;
$gold: #b68207;
$darkest-brown: #1b0800;
$poblano-green: #405749;
$gray: #d4cbc7;
$off-white: #f7f2ee;
$font-nunito: 'Nunito', sans-serif;

@mixin input-field {
  border: 0;
  background-color: rgba(247, 242, 238, 1);
  border-bottom: $border-bottom-input;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: $font-nunito;
  margin-bottom: 15px;
}


/* modal */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(247, 242, 238, 1);
  z-index: 10;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
}

.modal-display-container {
  position: relative;
  text-align: center;
}

.modal-logo-img {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  
}

.poblano-logo-simple {
  height: 125px;
  margin: 0 auto;
}

span.modal-close-button {
  position: absolute;
  top: 10px;
  right: 45px;
  color: #614436;
  font-size: 45px;
  cursor: pointer;
  font-family: $font-nunito;
  font-weight: 300;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

body.modal-close {
  display: unset;
}

.modal-child {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}

.gradient-banner {
  width: 100%;
  opacity: 50%;
  height: 150px;
}

 .heading-not-member {
   font-family: $font-stack;
   color: rgb(60, 29, 0);
   text-align: center;
   font-size: 32px;
   font-weight: 500;
   width: 100%;
   letter-spacing: -1px;
   display: block;
 }

 .heading-signup {
   margin-top: 100px;
   font-family: $font-stack;
   color: rgb(60, 29, 0);
   text-align: center;
   font-size: 32px;
   font-weight: 500;
   width: 100%;
   letter-spacing: -1px;
   display: block;
   margin-bottom: 40px;
 }

 .signup-message {
  font-family: $font-nunito;
  width: 300px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  color: $light-brown;
  font-size: 16px;
  margin-bottom: 10px;
}

 .subheading {
  font-family: $font-stack;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  color: $light-brown;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
  letter-spacing: -1px;
 }

 .shown.country {
   font-size: 14px;
 }

 .radio-button-labels {
   font-family: $font-nunito;
   font-size: 14px;
   color: $light-brown;
 }
 
 .radio-buttons {
   margin-top: 5px;
   display: flex;
   justify-content: space-around;
   margin-bottom: 30px;
 }

 .radio input[type="radio"] {
   display: none;
 }

 .radio span {
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: #90a035;
   cursor: pointer;
 }

//  .radio-button {
//    background-color: #90a035;
//    border-radius: 50%;
//    cursor: pointer;
//  }

/* header  */

.header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 5;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}

 .header-left-container {
    display: flex;
    font-family: $font-stack;
    justify-content: space-evenly;
    align-items: center;
 }

 .header-left-container-sign-in {
    display: flex;
    position: absolute;
    top: 20px;
    align-items: center;
    padding: 10px;
}

.header-left-container-sign-in:hover {
    cursor: pointer;
}

.sign-in-header {
  text-transform: uppercase;
  font-size: 14px;
  color: #786259;
  font-weight: 500;
}

.person-outline-img {
    height: 48px;
}

.poblano-logo-img {
    height: 80px;
    padding: 10px;
}

.poblano-logo-img:hover {
    cursor: pointer;
}

/* sign in form */

.heading-signin {
  font-family: $font-stack;
  color: rgb(60, 29, 0);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  letter-spacing: -1px;
  display: block;
  margin-bottom: 40px;
}

.signInForm {
  display: flex;
  flex-direction: column;
}

.signin-button {
  border: 1px solid #451400;
  background-color: #451400;
  color: white;
  font-family: $font-stack;
  width: 100%;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.signup-button {
  border: 1px solid #451400;
  background-color: #451400;
  color: white;
  font-family: $font-stack;
  width: 100%;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 32px;
  cursor: pointer;
}

.signup-instead-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.already-member {
  color: $dark-brown;
  font-size: 18px;
  font-family: $font-stack;
  font-weight: 500;
}

.goto-signin-button {
  position: relative;
  font-size: 18px;
  color: #b68207;
  text-decoration: underline;
  font-family: $font-stack;
  font-weight: 500;
  cursor: pointer;
}

.goto-signup-button {
  border: 1px solid #451400;
  background-color: $lightest-brown;
  color: #451400;
  font-family: $font-stack;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.session-form-separator {
  border-bottom: 1px solid #d4cbc7;
  padding: 10px;
  width: 100%;
  margin-bottom: 35px;
}

.error-message {
  text-align: center;
  color: red;
  font-family: $font-nunito;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 10px;
}
/* nav bar */

.ul-list-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 2px;
  left: 170px;
}

.ul-list-nav > li {
  margin: 10px;
}

.nav-bar-item {
    font-family: $font-stack;
    color: #451400;
    border-bottom-style: none;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 200;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}

.sign-out-button {
  position: absolute;
  left: 45%;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  margin: 0 auto;
  font-size: 12px;
  top: 70%;
  transform: translate(10px, 10px);
}

.sign-out-button:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-item {
  border-bottom: none;
}

.nav-bar-item-clicked {
  text-decoration: underline;
  text-decoration-color: $poblano-green;
  color: $poblano-green;
}

.hamburger {
  width: 40px;
  height: 45px;
  display: none;
  background-size: cover;
}


// @media (max-width: 1199px) {
//   .hamburger {
//     display: block;
//     cursor: pointer;
//   }

//   .nav-bar {
//     text-align: center;
//     width: 100%;
//     display: none;
//   }

// }

/* find poblano button */

.find-poblano-no-location {
  display: flex;
  background-color: #451400;
  color: white;
  align-items: center;
  position: relative;
  top: 10px;
  left: 140px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  min-width: 200px;
  min-height: 40px;
  background: linear-gradient(to right,black 50%, #451400 50%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.find-poblano-no-location:hover {
  cursor: pointer;
  background: linear-gradient(to left, #451400 50%, black 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all 300ms ease;
}

.tiny-logo {
  position: relative;
  left: 4px;
  height: 30px;
  width: 30px;
}

.separator {
  font-size: 25px;
  margin: 5px;
  font-family: $font-stack;
  font-weight: 100;
}

.find-poblano-text {
  font-family: $font-stack;
  font-weight: 300;
  // align-self: center;
  font-size: 13px;
  position: relative;
  left: 6px;
  letter-spacing: 2px;
}

.header-right-container {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
}

.bag-icon-container {
  display: flex;
}

.bag-order-count {
  background-color: #ad2118;
  border-radius: 50%;
  position: absolute;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 19px;
  width: 19px;
  text-align: center;
  top: 45px;
  line-height: 1.5;
  display: none;
}

.bag-icon {
  height: 55px;
  width: 55px;
  position: relative;
  top: 5px;
  right: 30px;
}

.bag-icon:hover {
  cursor: pointer;
}


/* main page */

.main-page-promo-container {
  height: 500px;
  display: flex;
  position: relative;
  top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-page-promo {
  display: flex;
  border: 1px solid $gray;
  width: 100%;
}

.main-left-promo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.main-left-promo-header {
  padding-top: 20px;
  margin-bottom: 40px;
  font-size: 80px;
  text-transform: uppercase;
  font-family: $font-stack;
  color: $dark-brown;
  font-weight: 700;
  letter-spacing: -1;
}

.main-left-promo-description {
  font-size: 30px;
  padding-right: 60px;
  margin-bottom: 70px;
  font-family: $font-nunito;
  color: $light-brown;
}

.main-right-promo-container {
  background-image: url("https://poblano-app-seeds.s3.amazonaws.com/contactless.gif");
  height: 100%;
  width: 50%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-left-promo-button-container {
  padding-right: 80px;
  display: flex;
}

.main-left-promo-button {
  padding-top: 15px;
  color: white;
  font-family: $font-stack;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $dark-brown;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.main-left-promo-button:hover {
  background-color: $gold;
}

.checkout-chipotle {
  height: 300px;
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
  color: $dark-brown;
  font-family: $font-stack;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.checkout-chipotle > h1 {
  margin-bottom: 10px;
}

.chipotle-title {
  font-size: 50px;
  font-family: $font-stack;
  color: white;
  top: 40%;
  position: relative;
}

.chipotle-details {
  width: 300px;
  font-size: 14px;
  font-weight: 300;
  font-family: $font-nunito;
  color: #786259;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.chipotle-button-container {
  display: flex;
}

.chipotle-button-container > button {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: $font-stack;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $dark-brown;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
  outline: none;
}

.chipotle-button-container > button:hover {
  background-color: $gold;
}

.chipotle-website-container {
  top: 100%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d4cbc7;
  width: 600px;
  line-height: 1.5;
  font-size: 12px;
  font-family: $font-nunito;
  font-weight: 700;
  color: $light-brown;
  border-top: none;
  padding-top: 2px;
  margin: 0 auto;
}

.chipotle-website-image {
  background-image: url("https://poblano-app-seeds.s3.amazonaws.com/chipotlelongpicc.jpg");
  width: 600px;
  height: 200px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Guac Banner */

.guac-banner {
  position: relative;
  top: 100px;
  min-width: 1024px;
  background-size: cover;
  text-align: center;
  color: white;
}

.guac-img {
  min-width: 1024px;
  min-height: 520px;
  width: 100%;
  height: 100%;
  background-color: color;
}

.guac-pre-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 50px;
  font-weight: 700;
}

.guac-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 65px;
  width: 460px;
  font-weight: 700;
}


/* main advertisement container */

.main-advertisement-container {
  display: flex;
  justify-content: center;
  top: 99%;
  padding-top: 2px;
  border-bottom: 1px solid #d4cbc7;
  min-height: 75px;
  width: 100%;
}

.main-advertisement-container > h2 {
  font-family: $font-stack;
  color: $dark-brown;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 10px;
  width: 405px;
  text-align: left;
}

.main-poblano-simple-logo {
  height: 75px;
}

.main-create {
  color: $dark-brown;
  border: 1px solid black;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
  position: relative;
  top: 25px;
  left: 10px;
}

.main-create:hover {
  cursor: pointer;
}

.main-or{
  color: $dark-brown;
  font-family: $font-nunito;
  position: relative;
  top: 25px;
  left: 20px;
  margin: 0 2px 0 2px;
}

.main-signin {
  color: $dark-brown;
  position: relative;
  top: 25px;
  left: 30px;
  font-size: 18px;
  color: #b68207;
  text-decoration: underline;
  font-family: $font-stack;
  font-weight: 500;
}

.main-signin:hover {
  cursor: pointer;
}

/* input fields for sign up container onBlur and onFocus */

::placeholder {
  font-size: 15px;
}
//refactor the below selectors to one, similar to placeholders

.input {
   @include input-field;
 }

.input-First.Name-required, 
.input-First.Name-required-focused,
.input-Last.Name-required,
.input-Last.Name-required-focused,
.input-Email-required,
.input-Email-required-focused,
.input-Password-required,
.input-Password-required-focused,
.input-Phone.Number-required,
.input-Phone.Number-required-focused {
  @include input-field;
}


input[class="input-Phone Number-required"]::placeholder, 
input[class="input-Phone Number-required-focused"]::placeholder,
input[class="input-First Name-required"]::placeholder,
input[class="input-First Name-required-focused"]::placeholder,
input[class="input-Last Name-required"]::placeholder,
input[class="input-Last Name-required-focused"]::placeholder,
input[class="input-Email-required"]::placeholder,
input[class="input-Email-required-focused"]::placeholder,
input[class="input-Password-required"]::placeholder,
input[class="input-Password-required-focused"]::placeholder {
  color: red;
}

/* toggle input field names */

.hidden {
  display: none;
}

.shown.email, .shown.password, .shown.phoneNumber {
  color: red;
}

.shown.signin.email, .shown.signin.password {
  color: black;
}

.shown {
  display: block;
  font-size: 11px;
  font-family: $font-nunito;
  color: $light-brown;
}

/* nutrition page */

.nutrition-calculator-container {
  position: relative;
  top: 100px;
  z-index: 4;
  overflow: hidden;
  height: 100%;
}

.nutrition-header {
  max-width: 1140px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.nutrition-header-title {
  font-size: 32px;
  font-family: $font-stack;
  color: $dark-brown;
  font-weight: 500;
  margin: 20px 0 20px 0;
  letter-spacing: -1px;
}

.nutrition-header-description {
  font-size: 16px;
  font-family: $font-nunito;
  color: $light-brown;
  max-width: 840px;
}

.nutrition-entrees-container {
  max-width: 1140px;
  z-index: 20;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  border-top: 1px solid $gray;
  justify-content: center;
}

/* meals page */

.meals-page-title {
  font-size: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  margin-bottom: 22px;
  font-weight: 500;
}

.meal-name {
  text-align: center;
  margin: 10px, 0px, 10px, 0px;
  font-size: 28px;
  font-weight: 500;
  font-family: $font-stack;
  color: $dark-brown;
  letter-spacing: -1px;
}

.meal-name-hovered {
  text-align: center;
  margin: 10px, 0px, 10px, 0px;
  font-size: 28px;
  font-weight: 500;
  font-family: $font-stack;
  color: $dark-brown;
  letter-spacing: -1px;
  text-decoration: underline;
  text-decoration-color: $dark-brown;
  cursor: pointer;
}

// .meal-name:hover {
//   text-decoration: underline;
//   text-decoration-color: $dark-brown;
//   text-decoration-style: bold;
//   cursor: pointer;
// }

/* Nutrition Items (Entree Pic Gallery) */

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 35px;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery > .gallery-item > .gallery-img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

/* footer */

@mixin headlines {
  color: #d4cbc7;
  font-size: 25px;
  font-family: $font-stack;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer-container {
  background-color: $darkest-brown;
  display: flex;
  width: 100%;
  height: 415px;
  position: absolute;
  align-items: center;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 100px;
}

.portfolio-container {
  color: white;
  width: 280px;
}

.portfolio-container > h1, .tech-stack-container > h1 {
  @include headlines;
}

.portfolio-container > h1:hover {
  color: white;
  cursor: pointer;
}

.tech-stack-container {
  color: white;
}

.tech-stack-items {
  display: flex;
  flex-direction: column;
}

.connect-container {
  display: unset;
}

@mixin footer-spans {
  font-size: 16px;
  font-family: $font-nunito;
  font-weight: 300;
  line-height: 1.5;
}

.portfolio-container > span {
  @include footer-spans;
}

.tech-stack-items > span {
  @include footer-spans;
  padding-bottom: 10px;
}

.connect-icons {
  display: flex;
  justify-content: space-evenly;
}

.connect-icons > img {
  margin: 5px;
}

.copyright-message {
  color: white;
  font-size: 12px;
  float: bottom;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 10px;
  bottom: 0;
  padding: 15px;
}

.connect-icons-title {
  color: #d4cbc7;
  font-size: 25px;
  font-family: $font-stack;
  margin: 10px;
  margin-bottom: 20px;
}

.linkedin-icon:hover {
  cursor: pointer;
}

.github-icon:hover {
  cursor: pointer;
}

/* show (ingredients page) */

@mixin ingredient-img {
  width: 180px;
  height: 230px;
  border: 1px solid $gray;
  object-fit: fill;
  margin-bottom: 30px;
  background-position: center 28.28571px;
  background-size: 180%;
  box-shadow: 0px 0px 5px 0px #d4cbc8;
}

.ingredient-img {
  @include ingredient-img;
}

.ingredient-selected {
  position: absolute;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  top: 48%;
  display: none;
  height: 50px;
  width: 50px;
  background-size: 100%;
  transform: translate(-50%, -50%);
}

.section-name {
  font-size: 30px;
  max-height: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 10px;
}

.start-over {
  cursor: pointer;
  color: #b68207;
  font-family: $font-nunito;
  position: relative;
  padding-top: 2px;
  top: 25px;
  left: 20px;
}

.start-over:hover {
  color: #815d08;
  text-decoration: underline;
  font-weight: 700;
}

.meal-name-show-page {
  font-size: 30px;
  max-height: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
  top: 25px;
  left: 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.show-page-header {
  display: flex;
  position: relative;
  top: 0%;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
}


// .fillings {
//   display: flex;
//   flex-wrap: wrap;
// }

.section.fillings {
  max-width: 750px;
}

.section-container {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 35px;
}

// .show-page-container {
//   display: inline-block;
//   height: 100%;
// }

.ingredients-container {
  display: flex;
}

.ingredient-name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  color: $dark-brown;
  letter-spacing: -1px;
  font-weight: 500;
  font-family: $font-stack;
  width: 180px;
}

.recharts-wrapper {
 
}

.ingredient-li {
  margin-bottom: 15px;
}

.lifestyle-ingredient-li {
  margin-bottom: 100px;
}

.figure {
  position: relative;
  text-align: center;
  color: $dark-brown;
  margin-left: 15px;
  margin-right: 15px;
}

.figure:hover {
  cursor: pointer;
}

.ingredient-img-clicked {
  @include ingredient-img;
}

.ingredient-img:hover, .ingredient-img-clicked:hover {
  opacity: 0.3;
  background-color: #d4cbc8;
}

.ingredient-calories {
  position: absolute;
  top: 100%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d4cbc7;
  width: 179px;
  line-height: 1.5;
  font-size: 12px;
  font-family: $font-nunito;
  font-weight: 700;
  color: $light-brown;
  border-top: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ingredient-price {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: $light-brown;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: $font-nunito;
  width: 180px;
}

.text {
  color: $dark-brown;
  font-weight: 500;
  font-family: $font-stack;
  font-size: 16px;
}

.chart-and-legend {
  display: flex;
  flex-direction: column;
  background-color: #f7f2ee;
  max-width: 350px;
  max-height: 490px;
  position: relative;
  top: 50px;
}

.sticky {
  position: fixed;
  top: 100px;
}


.chart-and-legend-hooked {
  display: flex;
  position: fixed;
  top: 300px;
  left: 850px;
  display: flex;
  flex-direction: column;
  background-color: #f7f2ee;
  max-width: 350px;
  max-height: 490px;
}


.pie-chart {
  position: relative;
  left: 40px;
}

.legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
}

.legend > div {
  align-content: left;
}

.legend-meal-name {
  position: absolute;
  top: 25px;
  left: 110px;
  font-family: $font-nunito;
  color: $dark-brown;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.calories-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}

.total-fat-container {
  display: flex;
  justify-content: space-between;
}

.protein-container {
  display: flex;
  justify-content: space-between;
}

.carbs-container {
  display: flex;
  justify-content: space-between;
}

.legend-titles.fat {
  color: #c3b5a6;
  font-family: $font-nunito;
  font-weight: 500;
  font-size: 16px;
  align-self: left;
  padding: 10px;
}

.legend-titles.protein {
  color: #b68109;
  font-family: $font-nunito;
  font-weight: 500;
  font-size: 16px;
  align-self: left;
  padding: 10px;
}

.legend-titles.carbs {
  color: #776259;
  font-family: $font-nunito;
  font-weight: 500;
  font-size: 16px;
  align-self: left;
  padding: 10px;
}

.legend-titles.calories {
  color: $dark-brown;
  font-family: $font-nunito;
  font-weight: 700;
  font-size: 18px;
  align-self: left;
  padding: 10px;
}

.legend-values {
  padding: 10px;
  color: $dark-brown;
  font-family: $font-nunito;
  font-weight: 700;
  font-size: 15px;
}

// .recharts-surface {
//   max-height: 500px;
//   max-width: 500px
// }

/* rewards advertisement page */

.progress-bar {
  position: relative;
  height: 30px;
  width: 465px;
  border-radius: 50px;
  border: 1px solid $gray;
  margin-bottom: 20px;
}

.filler {
  background: #ad2118;
  height: 100%;
  transition: width .2s ease-in;
  border-radius: inherit;
}

.falling-burritos-banner {
  position: relative;
  top: 100px;
  min-width: 1024px;
  background-size: cover;
  text-align: center;
  color: white;
}

.falling-burritos-img {
  min-width: 1024px;
  min-height: 520px;
  width: 100%;
  height: 100%;
  background-color: color;
  position: relative;
}

.rewards-pre-title {
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 50px;
  font-weight: 700;
  color: $dark-brown;
}

.rewards-titles {
  margin: 0 auto;
  position: relative;
  top: 100px;
  text-align: left;
  width: 460px;
}

.falling-burritos-message {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  width: 900px;
}

.rewards-img {
  width: 400px;
  height: 400px;
}

.rewards-title {
  position: absolute;
  text-transform: uppercase;
  font-family: $font-stack;
  font-size: 65px;
  width: 470px;
  font-weight: 700;
  color: $dark-brown;
}

.rewards-titles span {
  font-family: $font-nunito;
  text-transform: uppercase;
  color: $dark-brown;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  top: 150px;
}

/* user's profile */

.profile-container {
  margin: 0 auto;
}

.profile-modal-greeting-container {
  position: fixed;
  top: 10px;
  left: 45px;
  color: #614436;
  font-size: 20px;
  font-family: $font-nunito;
  font-weight: 300;
}

.profile-greeting {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  font-family: $font-nunito;
}

.points-message {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-nunito;
  min-width: 430px;
}


.points {
  margin: 0 auto;
  font-size: 88px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-stack;
  min-width: 465px;
  margin-bottom: 20px;
}

.rewards-points {
  margin: 0 auto;
  font-size: 88px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-stack;
  min-width: 465px;
  margin-bottom: 20px;
}

.progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 465px;
  justify-items: center;
  text-align: center;
}

.rewards-progress-container {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 465px;
  justify-items: center;
}

.reward-background {
  position: relative;
  min-width: 1440px;
  min-height: 577px;
  background: rgba(247, 242, 238, 1);
  display: flex;
  flex-direction: column
}

.reward-container {
  position: absolute;
  top: 50%;
  left: 520px;
  text-align: center;
}

.points-message {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-nunito;
  min-width: 430px;
}

.rewards-points-message {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: $dark-brown;
  letter-spacing: -1px;
  font-family: $font-nunito;
  min-width: 430px;
}

/* Order page */

.order-show-page-header {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 0%;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.order-show-page-header > img {
  width: 530px;
  height: 300px;
  object-fit: contain;
}

.show-page-header-right {
  max-width: 570px;
  max-height: 185px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.show-page-header-right > h1 {
  color: $light-brown;
  font-family: $font-nunito;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.meal-name-order-show-page {
  font-size: 64px;
  max-height: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.meal-description {
  font-family: $font-nunito;
  font-size: 16px;
  color: $dark-brown;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-over-order-show-page {
  cursor: pointer;
  color: #b68207;
  font-family: $font-nunito;
  position: relative;
  padding-top: 2px;
  width: 100px;
}

.start-over-order-show-page:hover {
  color: #815d08;
  text-decoration: underline;
  font-weight: 700;
}

.order-entrees-container {
  width: 100%;
  z-index: 20;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  border-top: 1px solid $gray;
  justify-content: center;
}

.order-ingredients-container {
  display: flex;
  justify-content: center;
}

.order-caption {
  text-align: center;
  margin: 10px, 0px, 10px, 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: $font-stack;
  color: $gold;
  letter-spacing: -1px;
  visibility: hidden;
}

.lifestyle-bowl-information-container {
  position: absolute;
  top: 100%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d4cbc7;
  width: 300px;
  line-height: 1.5;
  font-size: 12px;
  font-family: $font-nunito;
  font-weight: 700;
  color: $light-brown;
  border-top: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.lifestyle-price-cals {
  display: flex;
  justify-content: center;

}

.lifestyle-price-cals > span {
  color: $light-brown;
  font-family: $font-nunito;
  font-weight: 700;
  font-size: 15px;
}

.lifestyle-ingredient-name {
  font-size: 20px;
  font-family: $font-stack;
  color: $dark-brown;
}

@mixin  lifestyle-ingredient {
  font-size: 16px;
  font-family: $font-stack;
  color: $dark-brown;
}

.lifestyle-ingredient-calories {
  @include lifestyle-ingredient;
  padding-right: 15px;
}

.lifestyle-ingredient-price {
  @include lifestyle-ingredient;
  padding-left: 15px;
}

.lifestyle-bowl-details {
  width: 300px;
  font-size: 14px;
  font-weight: 300;
  font-family: $font-nunito;
  color: $light-brown;
}

.order-footer-container {
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background-color: $lightest-brown;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.order-footer-left > h1 {
  font-family: $font-stack;
  color: $dark-brown;
  font-size: 20px;
  font-weight: 500;
}

.order-footer-left > span {
  font-family: $font-nunito;
  color: $dark-brown;
  font-size: 16px;
  font-weight: 300;
}

.order-section-container {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 35px;
}

.order-section-name {
  font-size: 24px;
  max-height: 24px;
  color: $dark-brown;
  font-family: $font-stack;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 10px;
}

.order-section-subtitle {
  font-family: $font-nunito;
  font-size: 16px;
  color: $light-brown;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  margin: 10px;
  top: 5px;
}

.order-footer-btn {
  background-color: $dark-brown;
  color: white;
  font-family: $font-stack;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  width: 300px;
  height: 60px;
  outline: none;
  border: none;
  cursor: pointer;
}

.order-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

.order-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 270px;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(0%, -50%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.order-modal-header {
  font-family: $font-nunito;
  color: $dark-brown;
  font-size: 16px;
  font-weight: 700;
}

.order-modal-label {
  font-family: $font-nunito;
  font-size: 12px;
  font-weight: 300;
  color: $light-brown;
  visibility: hidden;
}

.mealname-required-focused {
  @include input-field;
  background-color: transparent;
}

input[class="mealname-required-focused"]::placeholder {
  color: red;
}

.order-modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.mealname-box {
  @include input-field;
  background-color: transparent;
}

.order-cancel-btn {
  border: 1px solid $dark-brown;
  background-color: transparent;
  color: $dark-brown;
  text-align: center;
  padding: 2px;
  font-size: 18px;
  font-family: $font-stack;
  font-weight: 700;
  width: 100%;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
}

.order-save-btn {
  border: 1px solid $dark-brown;
  background-color: $dark-brown;
  color: white;
  text-align: center;
  padding: 2px;
  font-size: 18px;
  font-family: $font-stack;
  font-weight: 700;
  width: 100%;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}

/* bag side modal */

.bag-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

.bag-modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.bag-modal-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $light-brown;
  top: 0;
  width: 430px;
  position: absolute;
  margin-bottom: 10px;
  overflow: hidden;
}

.bag-main-container {
  padding-left: 20px;
  padding-right: 20px;
}

.bag-order {
  padding-bottom: 20px;
  border-bottom: 1px solid $light-brown;
  margin-bottom: 20px;
}

.bag-order-meal-header {
  display: flex;
  justify-content: space-between;
}

.bag-order-entree-container {
  display: flex;
  flex-direction: column;
}

.bag-order-entree-top {
  display: flex;
  flex-direction: column;
}

.bag-header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.bag-header-bottom {
  padding-top: 20px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 19px;
  color: $gold;
  font-weight: 500;
  font-family: $font-stack;
  text-transform: uppercase;
  text-decoration: underline;
}

.bag-order-entree-header {
  display: flex;
  justify-content: space-between;
}

.bag-order-entree-details {
  margin-top: 10px;
  line-height: 1.3;
}

.bag-order-entree-bottom {
  display: flex;
  flex-direction: column;
}

.bag-order-side-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.bag-poblano-location {
  display: flex;
  background-color: #451400;
  color: white;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  min-width: 200px;
  background: linear-gradient(to right, black 50%, #451400 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  left: 115px;
}

.bag-poblano-location:hover {
  cursor: pointer;
  background: linear-gradient(to left, #451400 50%, black 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all 300ms ease;
}

.bag-modal-close-button {
  color: #614436;
  font-size: 45px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-right: 20px;
}

.bag-mealname-box {
  @include input-field;
  border-bottom: 2px solid $dark-brown;
  background-color: transparent;
  color: $dark-brown;
  font-weight: 700;
}

.bag-price {
  color: $dark-brown;
  font-family: $font-nunito;
  font-size: 17px;
  font-weight: 500;
}

.bag-meal-type-label {
  font-size: 16px;
  font-weight: 700;
  color: $dark-brown;
  font-family: $font-nunito;
  padding-top: 2px;
  padding-bottom: 2px;
}

.bag-order-entree-details {
  font-size: 14px;
  font-family: $font-nunito;
  color: $light-brown;
  font-weight: 500;
  margin-bottom: 10px;
}

.bag-order-side-name {
  padding-top: 1px;
  padding-bottom: 1px;
  color: $light-brown;
  font-weight: 500;
  font-family: $font-nunito;
  font-size: 14px;
}

.bag-order-options {
  display: flex;
  text-align: left;
  margin-top: 10px;
}

.bag-order-options > span {
  color: $dark-brown;
  text-transform: uppercase;
  font-family: $font-nunito;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}

.bag-complete-meals {
  display: flex;
  justify-content: space-evenly;
}

.bag-upsell-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bag-upsell-item span {
  font-family: $font-nunito;
  color: $dark-brown;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.bag-upsell-item span:nth-child(2) {
  font-size: 13px;
  font-weight: 700;
  font-family: $font-stack;
  text-transform: uppercase;
}

.bag-upsell-item > img {
  width: 95px;
  height: 95px;
  margin: 0 auto;
}

.bag-order-add-item {
  padding: 20px;
  display: flex;
}

.bag-complete-meal-header {
  margin: 0 auto;
}

.bag-order-add-item > button {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $dark-brown;
  font-family: $font-stack;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
  outline: none;
}

.bag-checkout {
  width: 100%;
  background-color: $dark-brown;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: $font-stack; 
  text-transform: uppercase;
  cursor: pointer;
}

.bag-order-complete-header {
  color: $light-brown;
  font-family: $font-nunito;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.bag-pricing-container {
  background-color: $off-white;
}

.bag-total {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: $dark-brown;
  font-family: $font-nunito;
  font-size: 17px;
}

.bag-signin {
  padding: 20px;
  display: flex;
}

.bag-subtotal {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: $font-nunito;
  color: $dark-brown;
  font-weight: 700;
}

.bag-tax {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: $font-nunito;
  color: $dark-brown;
  font-weight: 300;
}

.bag-final-total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  font-family: $font-nunito;
  color: $dark-brown;
  font-weight: 700;
}

.bag-signin > button {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $dark-brown;
  font-family: $font-stack;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
  outline: none;
}

.bag-main {
  overflow-y: scroll;
  padding-top: 20px;
  margin-top: 125px;
}

.bag-price-separator {
  color: $lightest-brown;
  width: 390px;
  border-bottom: 1px solid $lightest-brown;
}

/* signed out */

.bag-modal-content-no-order {
  background-color: $off-white;
  margin: auto;
  border: 1px solid #888;
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.bag-modal-header-no-order {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 430px;
  position: absolute;
  margin-bottom: 10px;
}

.bag-modal-separator {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 30px;
}

.bag-modal-directions {
  width: 260px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-family: $font-nunito;
}

.bag-modal-start {
  padding: 20px;
  display: flex;
  margin-top: 20px;
}

.bag-modal-logo {
  width: 68px;
  height: 88px;
  margin: 0 auto;
  margin-top: 30px;
}

.start-order-button {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: $font-stack;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: $gold;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
}

.start-order-button:hover {
  background-color: $dark-brown;
}